*{
    padding: 0;margin: 0;box-sizing: border-box;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.about{
    color: rgb(219, 57, 25);
    font-size: 25px;
    background-color: chartreuse;
    padding: 5px;
    border-radius: 5px;
}


.card-bg {
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px;
    padding: 50px 100px;
}
.card {
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
    background-color: white;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5%;
    font-family: sans-serif;
}

.card-title {
    font-weight: 700;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
    
}

.card-hr {
    width: 200px;
    color: aqua;
}

.card-button {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    background-color: aqua;
    font-weight: 500;

}